PORT = 3000
SECRETKEY = thisIsMySecretKey
REFRESHSECRETKEY= thisIsMyRefreshSecretKey
NODE_ENV=dev

#db
# DATABASE_URL=postgresql://projectonebd_futi_user:sp6OOpGoEJRAdtFd63H2FQppzwyldLj3@dpg-cqhegjd6l47c73fmggrg-a.oregon-postgres.render.com/projectonebd_futi
DATABASE_URL="postgresql://projectOne:123456@localhost:5432/projectoneDB"
POSTGRES_USER= projectOne
POSTGRES_PASSWORD= 123456
POSTGRES_DB= projectoneDB
#pg admin
PGADMIN_DEFAULT_EMAIL= admin@express.com
PGADMIN_DEFAULT_PASSWORD= 123456
PGADMIN_LISTEN_PORT=80


ORIGIN_CORS= "http://localhost:3000"
ORIGIN_CORS_TEST= "http://localhost:3000"
SECRETCOOKIEKEY = "my_secret_key"
